<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/intelisoft_accounting?useSSL=false</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<mapping class="com.intelisoft.models.Model" />
		<mapping class="com.intelisoft.models.CompleteLesson" />
		<mapping class="com.intelisoft.models.CostCoefficient" />
		<mapping class="com.intelisoft.models.Course" />
		<mapping class="com.intelisoft.models.CurrentCourse" />
		<mapping class="com.intelisoft.models.Lesson" />
		<mapping class="com.intelisoft.models.Notiffication" />
		<mapping class="com.intelisoft.models.Status" />
		<mapping class="com.intelisoft.models.Topic" />
		<mapping class="com.intelisoft.models.User" />

	</session-factory>
</hibernate-configuration>